body {
  background-color: #0aa394;
  font-family: "raleway", sans-serif;
  text-align: center;
  text-shadow: -4px 4px hsla(184, 40%, 50%, 0.4), -3px 3px hsla(0, 0%, 60%, 0.2),
    -2px 2px hsla(194, 58%, 54%, 0.2), -1px 1px hsla(0, 0%, 70%, 0.2),
    0px 0px hsla(177, 84%, 38%, 0.692), 1px -1px hsla(0, 0%, 30%, 0.6),
    2px -2px hsla(0, 0%, 30%, 0.7), 3px -3px hsla(0, 0%, 32%, 0.8),
    4px -4px hsla(0, 0%, 30%, 0.9), 5px -5px hsla(0, 0%, 30%, 1);
}

.container {
  width: 100%;
}

p {
  color: white;
  font-size: 10vw;
}

#clock {
  width: 100%;
  text-align: center;
}

#progressBarContainer {
  transform: rotate(180deg);
}

.buttonSection {
  width: 100%;
  padding-top: 3rem;
}

.roundButton {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.671);
  border: 0;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
}

.button1 {
  padding-top: 3rem;
  float: left;
  width: 50%;
}

.button2 {
  padding-top: 3rem;
  float: right;
  width: 50%;
}

.selector {
  background-color: rgba(223, 215, 215, 0.719);
  padding: 0.8rem 1.4rem 0.9rem 0.8rem;
  width: 30%;
  border-radius: 0.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  text-align: center;
}
